<nav class="bg-white shadow sticky top-0 z-50">
    <div class="mx-auto px-4 py-2 flex justify-between items-center">
        <div class="flex items-center gap-8">
            <!-- Logo -->
            <img src="../assets/logo-transparent-png.png" class="h-16 w-48" alt="Logo">
        </div>

        <div class="flex items-center space-x-4">
            <form action="/search-results" method="GET" class="flex items-center">
                <input type="text" name="query" class="input input-bordered" placeholder="Search stories..." required>
                <button type="submit" id="search-form" class="btn btn-main ml-2">Search</button>
            </form>

            <!-- Dropdown for Blog Management -->
            <div class="relative">
                <button
                    class="flex items-center justify-center w-12 h-12 rounded-full btn-main font-semibold dropdown-toggle"
                    id="dropdownButton" aria-haspopup="true" aria-expanded="false">
                    <span class="text-sm">
                        <%= user.firstName.charAt(0) %>
                            <%= user.secondName.charAt(0) %>
                    </span>
                </button>
                <div class="absolute right-0 mt-2 w-48 bg-white rounded-md shadow-lg z-10 hidden" id="dropdownMenu">
                    <form action="/add-blog" method="GET">
                        <button type="submit"
                            class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 w-full text-left">Add New
                            Blog</button>
                    </form>
                    <form action="/manage-stories" method="GET">
                        <button type="submit"
                            class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 w-full text-left">Manage My
                            Blogs</button>
                    </form>
                </div>
            </div>

            <!-- Navigation Links -->
            <form action="/logout" method="POST" style="display: inline;">
                <button type="submit" class="btn btn-second">Log Out</button>
            </form>
        </div>
    </div>
</nav>

<script>
    // Ensure the search form resets correctly
    document.getElementById('search-form').addEventListener('submit', function () {
        document.getElementById('search-form').reset();
    });
    // Dropdown toggle
    const dropdownButton = document.getElementById('dropdownButton');
    const dropdownMenu = document.getElementById('dropdownMenu');

    dropdownButton.addEventListener('click', () => {
        dropdownMenu.classList.toggle('hidden');
    });

    // Close dropdown when clicking outside
    window.addEventListener('click', (event) => {
        if (!dropdownButton.contains(event.target) && !dropdownMenu.contains(event.target)) {
            dropdownMenu.classList.add('hidden');
        }
    });
</script>