<nav class="bg-white shadow sticky top-0 z-50">
    <div class="mx-auto px-4 py-2 flex justify-between items-center">
        <div class="flex items-center">
            <!-- Logo -->
            <img src="../assets/logo-transparent-png.png" class="h-16 w-48" alt="Logo">
        </div>
        <div class="flex items-center space-x-4">
            <!-- Search Form -->
            <form action="/search-results" method="GET" class="flex items-center">
                <input type="text" name="query" class="input input-bordered" placeholder="Search stories..." required>
                <button type="submit" class="btn btn-primary ml-2">Search</button>
            </form>
            <!-- User's First Name in a rounded icon -->
            <div class="relative inline-block">
                <button
                    class="flex items-center justify-center w-10 h-10 rounded-full bg-blue-500 text-white font-semibold">
                    <span class="text-sm">
                        <%= user.firstName.charAt(0) %>
                            <%= user.secondName.charAt(0) %>
                    </span>
                </button>
            </div>
            <!-- Navigation Links -->
            <form action="/logout" method="POST" style="display: inline;">
                <button type="submit" class="btn btn-danger">Log Out</button>
            </form>
        </div>
    </div>
</nav>