<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Travel Blog</title>
    <!-- font awesome -->
    <script src="https://kit.fontawesome.com/d7b7563d24.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../../public/styles.css">
    <link rel="stylesheet" href="../../public/dist/styles.css">
</head>

<body>

    <main>
        <%- body %>
    </main>
</body>

</html>