<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Travel Blog</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.10/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- font awesome -->
    <script src="https://kit.fontawesome.com/d7b7563d24.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../../public/css/style.css">
</head>

<body>

    <main>
        <%- body %>
    </main>
    <script src="https://cdn.tailwindcss.com"></script>

</body>

</html>