<body class="bg-gray-100">

    <!-- Navbar Section -->
    <nav class="bg-white shadow sticky top-0 z-50">
        <div class="mx-auto px-4 py-2 flex justify-between items-center">
            <div class="flex items-center">
                <!-- Logo -->
                <img src="../assets//logo-transparent-png.png" class="h-16 w-48" alt="">
            </div>
            <div class="space-x-4">
                <!-- Navigation Links -->
                <a href="/signin" class="btn btn-main">Sign
                    In</a>
                <a href="/signup" class="btn btn-main">Sign Up</a>
            </div>
        </div>
    </nav>

    <!-- Hero Section -->
    <div class="hero min-h-screen" style="background-image: url(../assets/banner-3.webp);">
        <div class="hero-overlay bg-opacity-60"></div>
        <div class="hero-content text-neutral-content text-center">
            <div class="max-w-md">
                <h1 class="mb-5 text-5xl font-bold">Welcome to Your Travel Story Blog!</h1>
                <p class="mb-5">
                    Discover the world through your own stories and experiences. Join us to share your adventures,
                    connect with fellow travelers, and inspire others to explore.
                </p>
                <a href="/signup" class="btn btn-second">Get Started</a>
            </div>
        </div>
    </div>


    <!-- Body Section -->
    <div class="container grid grid-cols-2 gap-3 mx-auto my-8 p-6 bg-white rounded-lg shadow-lg  hover:shadow-xl">
        <div>
            <h2 class="text-3xl font-bold mb-4 text-blue-600">What You Can Do</h2>
            <p class="mb-4 text-gray-700 px-2">
                At Travel Story Blog, you can share your travel experiences, explore stories from others, and connect
                with
                fellow travelers. <br>
                Whether you want to document your journey or seek inspiration for your next trip, we have something for
                everyone!
            </p>
        </div>

        <div>
            <h3 class="text-2xl font-semibold mb-2 text-blue-500">Our Offerings:</h3>
            <ul class="list-disc list-inside mb-4 text-gray-700 px-2">
                <li>Share your travel stories with a community of adventurers.</li>
                <li>Discover amazing travel tales and tips.</li>
                <li>Manage your stories and engage with other travelers.</li>
            </ul>
            <p class="mb-4 text-gray-700">Join us in celebrating the beauty of travel and exploration. Start your
                journey
                today!
            </p>
        </div>
    </div>

    <!-- Footer -->
    <%- include('./partials/footer.ejs') %>