<div class="h-screen bg-cyan-50 bg-no-repeat bg-cover flex justify-center items-center">
    <div class="grid grid-cols-2 gap-12 w-full max-w-6xl">
        <div class="relative w-full rounded-2xl">
            <img src="../assets/banner-2.webp" alt="Travel Inspiration" class="object-cover w-full h-full rounded-2xl">
            <div class="absolute inset-0 flex items-center justify-center bg-black bg-opacity-30 rounded-2xl">
                <h2 class="text-white text-4xl font-bold text-center">Welcome Back!<br />Log in to Continue</h2>
            </div>
        </div>

        <div class="card bg-base-100 w-full h-full rounded-r-lg shadow-2xl flex flex-col justify-center">
            <form class="card-body p-10" action="/login" method="POST">
                <h3 class="text-2xl font-semibold text-center mb-4">Sign In</h3>
                <div class="form-control mb-4">
                    <label class="label">
                        <span class="label-text">Email</span>
                    </label>
                    <input type="email" id="email" class="input input-bordered" name="email" required>
                </div>
                <div class="form-control mb-4">
                    <label class="label">
                        <span class="label-text">Password</span>
                    </label>
                    <input type="password" id="password" class="input input-bordered" name="password" required>
                </div>
                <div class="form-control mt-6">
                    <button type="submit" class="btn btn-second">Sign In</button>
                </div>
            </form>
            <% if (typeof error !=='undefined' ) { %>
                <div class="alert alert-danger mt-3">
                    <%= error %>
                </div>
                <% } %>
        </div>
    </div>
</div>